body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f9f9f9;
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  /* padding: 20px; */
  background: #eef1f4;
  width: 80%;
  height: 100vw;
}
.dashboard {
  padding: 0 18px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 5%;
  background: #fff;
  padding-right: 16px;
  padding-top: 11px;
  box-shadow: 0 0 6px #00000029;
  padding-bottom: 11px;
}
.topbar-center input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
  transition: all 0.3s ease;
}
.topbar-center input:focus {
  border-color: #253d32;
  box-shadow: 0 0 6px #253d32;
}
.topbar-center {
  width: 26%;
}

.topbar input {
  padding: 8px 16px;
  border-radius: 20px;
  border: 0px solid #ccc;
  background: #eef1f4;
  width: 100%;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 10px 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* border-radius: 8px; */
}

.menu-item:hover {
  background: #f0f4ff;
}

.dropdown-icon {
  margin-left: auto;
  margin-right: 20px;
}
.dropdown-icon svg {
  width: 13px;
  height: 13px;
}

.submenu {
  margin-left: 43px;
  display: flex;
  flex-direction: column;
}

.submenu-item {
  padding: 6px 0;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.submenu-item:hover {
  color: #afafaf;
}

.avatar {
  border-radius: 50%;
}

.dashboard .stats {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
  border-top: 3px solid #0a2519;
}

.stat-icon {
  font-size: 32px;
}

.charts {
  display: flex;
  gap: 20px;
}

.chart {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  background: #fff;
  border: 0px solid #33a6b8;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  gap: 8px;
  min-width: 135px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.username {
  color: #333;
  font-weight: 500;
}

.arrow {
  margin-left: auto;
  font-size: 14px;
  color: #333;
  transition: transform 0.2s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown {
  position: absolute !important;
  right: 13px;
  top: 51px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  width: 186px;
  z-index: 1;
  border: 1px solid #c8c8c8;
}

.dropdown .dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.dropdown .dropdown-item:hover {
  background-color: #f4f9ff;
  color: #333;
}

.dropdown .logout-item:hover {
  border-radius: 0 0 5px 5px;
}
.dropdown .my-item:hover {
  border-radius: 5px 5px 0px 0px;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}


